#sidebar-title {
  padding:20px 0 20px 15px;
  text-align: left;
  background-color:rgba(0,0,0,0.15);
  font-size:25px;
  border-bottom:1px solid rgba(0,0,0,0.05);
  vertical-align: middle;
}

#logo {
  height: 40px;
  vertical-align: middle;
  padding-right: 5px;
}

#primary-toolbar {
  margin-bottom:5px;
}