<h1 mat-dialog-title>Start New Miner</h1>
<div mat-dialog-content>
  <p>Enter the required information to start a miner working</p>
  <mat-checkbox>All GPUs</mat-checkbox>
  <mat-selection-list #gpuSelectionList>
    <mat-list-option *ngFor="let gpu of gpus">
      {{gpu.Name}}
    </mat-list-option>
  </mat-selection-list>
  <mat-select placeholder="Select a Pool" [(ngModel)]="pool">
    <mat-option *ngFor="let pool of pools" [value]="pool.poolid">
      {{ pool.url }}
    </mat-option>
  </mat-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="start()">Start</button>
</div>
